* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: #33AFFF;
}

h1 {
    text-align: center;
    color: black;
    font-size: 3em;
}

input, select {
    display: block;
    margin-top: 1em;
    width: 30em;
    height: 4em;
    border-color: gold;
    border-width: .4em;
    font-size: 1.5em;
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 2em;
    width: 20em;
    height: 3em;
    border-color: gold;
    border-width: .4em;
    font-size: 1.5em;
}

#js-results {
    text-align: center;
    margin-top: 2em;
}

#how-to {
    margin-left: 2em;
    margin-right: 2em;
    color: black;
    font-size: 2em;
}

img {
    width: 90vw;
    margin: auto;
    display: block;
    margin-bottom: 1em;
}

#js-results {
    font-size: 2em;
}

#wr-gif {
    width: 60vw;
}